.profile {
  width: 650px;
  margin: 0 auto;
  border: 5px solid #020016;
  border-radius: 14px;
  margin-bottom: 60px;
  background-color: #fff;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #838a91;
  padding: 24px;
}

.img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #7f8585;
  margin-bottom: 24px;
}

.name {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 14px;
}

.userInfo {
  font-size: 36px;
  font-weight: 400;
  color: #7f8585;
  margin-bottom: 10px;
}

.list {
  display: flex;
  justify-content: space-around;
  background-color: #d4d4d4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 20px;
}

.item:not(:last-child) {
  border-right: 5px solid #7f8585;
}

.label {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 10px;
}

.span {
  font-size: 36px;
  font-weight: 600;
}
