.table {
  color: #000000;
  font-size: 18px;
  margin: 30px auto 0px;
  border-collapse: collapse;
  text-transform: capitalize;
  background-color: #ffffff;
}

.table thead {
  color: #ffffff;
  background-color: #313131;
}

.table tr:nth-child(even) {
  background-color: #c9c8c8;
}

.table td,
.table th {
  width: 250px;
  padding: 10px;
  text-align: center;
  border: 2px solid #1c1c1c;
}

.table .type {
  text-align: left;
  padding-left: 10%;
}
